<h1>Commit: <%= @commit.sha2_hash %></h1>
<table class="table">
  <tr>
    <td style="width:15%"><strong>Comment</strong></td>
    <td><%= @commit.comment %></td>
  </tr>
  <tr>
    <td style="width: 15%"><strong>Time</strong></td>
    <td><%= pretty_timestamp @commit.time %></td>
  </tr>
  <tr>
    <td style="width: 15%"><strong>Last Good Build</strong></td>
    <td>
      <% last_good_build = @commit.last_good_build %>
      <% if last_good_build.nil? %>
        No Good Build
      <% else %>
        <a href="/commits/<%= @commit.id %>/download">Download</a>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <form action="/commits/<%= @commit.id %>/build" method="POST" style="margin-botom:0;display:inline;">
        <button class="btn" type="submit">Request Build</button>
      </form>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>

<h3>Builds</h3>
<table id="builds" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Job ID</th>
      <th>Requested At</th>
      <th>Started At</th>
      <th>Finished At</th>
      <th>Return Code</th>
    </tr>
  </thead>

  <tbody>
  <% @builds.each do |b| %>
    <tr class="<%= build_row_class b %>">
      <td>
        <%= build_icon b %>
      </td>
      <td><%= b.id %></td>
      <td><%= pretty_timestamp b.requested_at %></td>
      <td><%= pretty_timestamp b.started_at %></td>
      <td><%= pretty_timestamp b.finished_at %></td>
      <td><%= b.return_code %></td>
    </tr>
  <% end %>
  </tbody>
</table>

