<h1>Summary</h1>

<p>Todo. Put some nice summary graphs and numbers and statuses here.</p>

<h1>List of Models</h1>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th width="15px">&nbsp;</th>
      <th>Model</th>
      <th>Last Test Duration</th>
      <th>Request Test</th>
    </tr>
  </thead>
  <tbody>
  <% @models.each do |model| %>
    <tr class="<%= test_result_row_class model.last_test %>">
      <td>
        <%= test_result_icon model.last_test %>
      </td>
      <td>
        <a href="/models/<%= model.id %>"><%= model.filepath %></a>
      </td>
      <td>
        <% duration = model.last_completed_test ? model.last_completed_test.runtime_seconds : nil %>
        <%= pretty_duration duration %>
      </td>
      <td>
        <form action="/models/<%= model.id %>/run" method="POST" style="margin:-5px 0 -10px">
          <input type="hidden" name="test_type" value="CORRECTNESS"/>
          <button type="submit" class="btn btn-link">Correctness</button>
        </form>
        <form action="/models/<%= model.id %>/run" method="POST" style="margin:0 0 -5px">
          <input type="hidden" name="test_type" value="PERFORMANCE"/>
          <button type="submit" class="btn btn-link">Performance</button>
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

