<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <%= stylesheet "/css/bootstrap.min.css" %>
    <%= stylesheet "/css/bootstrap-fileupload.min.css" %>
    <%= stylesheet "/css/tablesorter.theme.bootstrap.css" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      table th .status-col {
        width: 15px;
      }
      .tablesorter-filter-row input.tablesorter-filter {
        font-size: 12px;
      }
      .tablesorter-filter-row input.tablesorter-filter.disabled {
        background-color: rgb(238, 238, 238);
        cursor: default;
        border: 0;
        box-shadow: none;
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      .axis-text {
        font-family: sans-serif;
        font-size: 11px;
      }
      .connector {
        fill: none;
        stroke: steelblue;
        stroke-width: 2;
      }
      circle.correct {
        fill: green;
      }
      circle.incorrect {
        fill: red;
      }
      circle:hover {
        stroke: black;
        stroke-width: 2;
      }
    </style>
  </head>

  <body>
    <% if settings.development? %>
    <div class="navbar navbar-fixed-top">
    <% else %>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <% end %>
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Amalgam Dashboard</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% if settings.development? %>
                <li><span class="label label-important" style="margin:12px 0 10px">DEVELOPMENT</span><li>
              <% end %>
              <li><a href="/models">Models</a></li>
              <li><a href="/workers">Workers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <script src="/js/d3.v3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-fileupload.min.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script src="/js/jquery.tablesorter.widgets.js"></script>
    <script src="/js/jquery.localtime.min.js"></script>
    <script type="text/javascript">
      $.localtime.setFormat("dd MMM, yyyy HH:mm");
      $(document).ready(function() {
        $("i[data-toggle='tooltip']").tooltip();
        $.tablesorter.addParser({
          id: 'testResultTypeParser',
          is: function(s) { return false; },
          format: function(s, table, cell, cellIndex) {
            return $(cell).attr('data-test-result-type');
          },
          type: 'numeric'
        });
        $.tablesorter.addParser({
          id: 'testTimeParser',
          is: function(s) { return false; },
          format: function(s, table, cell, cellIndex) {
            return $(cell).attr('data-test-time');
          },
          type: 'numeric'
        });
        $("#models").tablesorter({
          theme: 'bootstrap',
          headers: {
            0 : { sorter: 'testResultTypeParser' },
            2 : { sortInitialOrder: 'desc' }
          },
          headerTemplate: '{icon} {content}',
          widgets: ['filter', 'uitheme'],
          widthFixed: true
        });
        $("#testresults").tablesorter({
          theme: 'bootstrap',
          headers: {
            0 : { sorter: 'testResultTypeParser' },
            2 : { sorter: 'testTimeParser' },
            3 : { sorter: 'testTimeParser' },
            5 : { sortInitialOrder: 'desc' }
          },
          headerTemplate: '{icon} {content}',
          widgets: ['filter', 'uitheme'],
          widthFixed: true
        });
      });
    </script>
    <% if settings.ga_tracking_code && settings.ga_domain %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= settings.ga_tracking_code %>', '<%= settings.ga_domain %>');
      ga('send', 'pageview');

    </script>
    <% end %>
  </body>
</html>

