<h2><%= @model.friendly_name %></h2>
<table>
  <tr>
    <td>Filepath:</td>
    <td><%= @model.filepath %></td>
  </tr>
  <tr>
    <td>Model File:</td>
    <td><a href="<%= @model.s3_link %>"><%= @model.s3_link %></a></td>
  </tr>
  <tr>
    <td colspan='2'>
      <form action="/models/<%= @model.id %>/run" method="POST">
        <input type="hidden" name="test_type" value="CORRECTNESS"/>
        <input type="submit" value="Run"/>
      </form>
    </td>
  </tr>
</table>
<h3>Test Runs</h3>
<table>
  <tr>
    <td>&nbsp;</td>
    <td>Requested At</td>
    <td>Started At</td>
    <td>Return</td>
    <td>Runtime</td>
    <td>Tarball Link</td>
  </tr>

  <% @test_results.each do |test_result| %>
    <tr>
      <td>
        <% if test_result.pending? %>
          ?
        <% elsif test_result.correct? %>
          Y
        <% else %>
          N
        <% end %>
      </td>
      <td><%= test_result.requested_at %></td>
      <td><%= test_result.started_at %></td>
      <td><%= test_result.return_code %></td>
      <td><%= test_result.runtime_seconds %></td>
      <td><%= test_result.tarball_s3_link %></td>
    </tr>
  <% end %>
</table>
